<footer class="page-footer" id="page-footer">
   <div class="page-footer__container">
      <div class="page-footer__top">
         <h2 class="page-footer__title"><span class="section-title_orange">Chocolate</span> a delicious cure for a bad day</h2>
         
         <address class="page-footer__contacts contacts">
            <p class="contacts__title">Contact us</p>
            <ul class="contacts_List">
               <li class="contacts__item">
                  <a href="tel:+380684439426" class="contacts__link">+380 (68) 443-94-26</a>
               </li>
               <li class="contacts__item">
                  <a href="mailto:simplychoc@gmail.com" class="contacts__link">simplychoc@gmail.com</a>
               </li>
            </ul>
         </address>
      </div>

      <div class="page-footer__bottom">
         <nav class="page-footer__menu menu-footer">
            <ul class="menu-footer__list">
               <li class="menu-footer__item"><a href="#" class="menu-footer__link link-menu current">Home</a></li>
               <li class="menu-footer__item"><a href="#" class="menu-footer__link link-menu">How it’s made?</a></li>
               <li class="menu-footer__item"><a href="#" class="menu-footer__link link-menu">Chocolate is loved</a></li>
               <!-- <li class="menu-footer__item"><a href="#" class="menu-footer__link link-menu">Top sellers</a></li>
               <li class="menu-footer__item"><a href="#" class="menu-footer__link link-menu">Chocolate is loved</a></li> -->
            </ul>
         </nav>
         <form class="page-footer__form subscribe" name="subscribe-form" autocomplete="off">
            <input class="subscribe__input" name="user-mail" type="email" placeholder="Enter your email" required>
            <button class="subscribe__button button" type="submit">Subscribe</button>
         </form>
      </div>
   </div>
</footer>