<section class="hero-section">
   <div class="hero-section__container">
      <div class="hero">
         <h1 class="hero__slogan slogan">Treat yourself or a loved one to our finest ingredients for a moment of pure
            delight!</h1>
         <div class="hero__links">
            <button class="hero__button button" type="button">Buy now</button>
            <a class="hero__link inner-link" href="#made">How it’s made</a>
            <a class="hero__scroll scroll-down" href="#page-footer">
               <span class="scroll-down__label">scroll down</span>
               <div href="" class="scroll-down__thumb">
                  <svg class="scroll-down__icon" width="16" height="16">
                     <use href="img/icons.svg#icon-scroll"></use>
                  </svg>
               </div>
            </a>
         </div>
      </div>
   </div>
</section>