<section class="ingredients">
   <div class="ingredients__container">
      <h2 class="ingredients__title section-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span
            class="section-title_orange">TASTE </span>SENSATION</h2>
      <p class="ingredients__text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the
         details. From the sourcing of the
         finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
         exceptional taste sensation.</p>

      <ul class="ingredients__list list-ingredients">
         <!-- Card -->
         <li class="ingredients__card card-ingredient card-ingredient_bg-orange">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/milk-chocolate.png"
                  srcset="img/ingredients/milk-chocolate@2x.png 2x" alt="Milk chocolate">
            </div>
            <p class="card-ingredient__label">Milk chocolate</p>
         </li>
         <li class="ingredients__card card-ingredient card-ingredient_bg-white">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/milk.png" srcset="img/ingredients/milk@2x.png 2x"
                  alt="Milk chocolate">
            </div>
            <p class="card-ingredient__label">Milk</p>
         </li>
         <li class="ingredients__card card-ingredient card-ingredient_bg-black">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/hazelnuts.png"
                  srcset="img/ingredients/hazelnuts@2x.png 2x" alt="Milk chocolate">
            </div>
            <p class="card-ingredient__label">Nuts</p>
         </li>
         <li class="ingredients__card card-ingredient card-ingredient_bg-white">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/cocoa-beans.png"
                  srcset="img/ingredients/cocoa-beans@2x.png 2x" alt="Milk chocolate">
            </div>
            <p class="card-ingredient__label">Semi - sweet chocolate</p>
         </li>
      </ul>
   </div>
</section>