<section class="ingredients">
   <div class="ingredients__container">
      <h2 class="ingredients__title section-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span
            class="section-title_orange">TASTE </span>SENSATION</h2>
      <p class="ingredients__text">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the
         details. From the sourcing of the
         finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
         exceptional taste sensation.</p>

      <ul class="ingredients__list list-ingredients">
         <!-- Card -->
         <li class="ingredients__card card-ingredient card-ingredient_bg-orange card-ingredient_1">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/milk-chocolate.png"
                  srcset="img/ingredients/milk-chocolate@2x.png 2x" alt="Milk chocolate">
            </div>
            <h3 class="card-ingredient__label">Milk chocolate</h3>

            <!-- Overlay -->
            <div class="ingredients-overlay">
               <h4 class="ingredients-overlay__title">Milk chocolate</h4>
               <ul class="ingredients-overlay__benefits benefits-ingredients">
                  <li class="benefits-ingredients__item">Chocolate</li>
                  <li class="benefits-ingredients__item benefits-ingredients__item_white">The benefits</li>
               </ul>
               <p class="ingredients-overlay__description">Milk chocolate is a solid chocolate confectionery containing
                  cocoa, sugar
                  and milk. It is the most consumed type of
                  chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although
                  four-fifths
                  of all
                  milk chocolate is sold in the United States and Europe.</p>
            </div>
         </li>
         <li class="ingredients__card card-ingredient card-ingredient_bg-white card-ingredient_2">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/milk.png" srcset="img/ingredients/milk@2x.png 2x"
                  alt="Milk chocolate">
            </div>
            <h3 class="card-ingredient__label">Milk</h3>

            <!-- Overlay -->
            <div class="ingredients-overlay">
               <h4 class="ingredients-overlay__title">Milk</h4>
               <ul class="ingredients-overlay__benefits benefits-ingredients">
                  <li class="benefits-ingredients__item benefits-ingredients__item_orange">Milk</li>
                  <li class="benefits-ingredients__item benefits-ingredients__item_white">The benefits</li>
               </ul>
               <p class="ingredients-overlay__description">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
            </div>
         </li>
         <li class="ingredients__card card-ingredient card-ingredient_bg-black card-ingredient_3">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/hazelnuts.png"
                  srcset="img/ingredients/hazelnuts@2x.png 2x" alt="Milk chocolate">
            </div>
            <h3 class="card-ingredient__label">Nuts</h3>

            <!-- Overlay -->
            <div class="ingredients-overlay">
               <h4 class="ingredients-overlay__title">Nuts</h4>
               <ul class="ingredients-overlay__benefits benefits-ingredients">
                  <li class="benefits-ingredients__item benefits-ingredients__item_orange">Nuts</li>
                  <li class="benefits-ingredients__item benefits-ingredients__item_white">The benefits</li>
               </ul>
               <p class="ingredients-overlay__description">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a
               nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source
               of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
            </div>
         </li>
         <li class="ingredients__card card-ingredient card-ingredient_bg-white card-ingredient_4">
            <div class="card-ingredient__pic">
               <img class="card-ingredient__img" src="img/ingredients/cocoa-beans.png"
                  srcset="img/ingredients/cocoa-beans@2x.png 2x" alt="Milk chocolate">
            </div>
            <h3 class="card-ingredient__label">Semi - sweet chocolate</h3>

            <!-- Overlay -->
            <div class="ingredients-overlay">
               <h4 class="ingredients-overlay__title">Semi - sweet chocolate</h4>
               <ul class="ingredients-overlay__benefits benefits-ingredients">
                  <li class="benefits-ingredients__item benefits-ingredients__item_orange">Sweet chocolate</li>
                  <li class="benefits-ingredients__item benefits-ingredients__item_white">The benefits</li>
               </ul>
               <p class="ingredients-overlay__description">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type
               of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
               comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
            </div>
         </li>
      </ul>
   </div>
</section>