<section class="made">
   <div class="made__container">
      <h2 class="made__title section-title">How it's <span class="section-title_orange">made?</span></h2>

      <ul class="made__columns">
         <li class="made__column image-made">
            <picture class="image-made__picture">
               <source srcset="../img/made/desktop/making-chocolate.jpg 1x, ../img/made/desktop/making-chocolate@2x.jpg 2x" media="(min-width: 1200px)" />
               <source srcset="../img/made/tablet/making-chocolate.jpg 1x, ../img/made//tablet/making-chocolate@2x.jpg 2x" media="(min-width: 768px)" />
               <source srcset="../img/made/mobile/making-chocolate.jpg 1x, ../img/made/mobile/making-chocolate@2x.jpg 2x" media="(max-width: 767px)" />
               
               <img class="image-made__img" srcset="../img/made/mobile/making-chocolate.jpg" alt="How chocolate is made">
            </picture>
         </li>

         <li class="made__column recipe">
            <h3 class="recipe__title">Try our chocolates today and discover the perfect balance of flavor</h3>
            <ul class="recipe__list">
               <li class="recipe__item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa
                  powder.</li>
               <li class="recipe__item">At the same time, prepare a water bath. Melt the butter on it.</li>
               <li class="recipe__item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone
                  spatula so that the mass becomes uniform and silky.</li>
               <li class="recipe__item">Heat the mixture over low heat, letting it barely boil.</li>
               <li class="recipe__item">Pour the chocolate into special containers (can be replaced with ice molds).
                  Allow to cool and harden.</li>
            </ul>
         </li>
      </ul>
   </div>

</section>