<div class="backdrop">
   <div class="modal">
      <button class="modal__btn btn-close-modal" type="button">
         <svg class="btn-close-modal__icon" width="24" height="24">
            <use href="img/icons.svg#icon-close"></use>
         </svg>
      </button>
      <h2 class="modal__title section-title">Leave a review about <span class="section-title_orange">our chocolate</span></h2>

      <form class="modal__form form-review">
         <label class="form-review__label">
            <span class="form-review__text-label">Name</span>
            <span class="form-review__input-wrapper">
               <input class="form-review__input" name="user-name" type="text" autocomplete="off" autofocus required />
               <svg class="form-review__icon" width="17" height="17">
                  <use href="img/icons.svg#icon-user"></use>
               </svg>
            </span>
         </label>

         <label class="form-review__label">
            <span class="form-review__text-label">Email</span>
            <span class="form-review__input-wrapper">
               <input class="form-review__input" name="user-mail" type="emal" autocomplete="off" required />
               <svg class="form-review__icon" width="17" height="17">
                  <use href="img/icons.svg#icon-mail"></use>
               </svg>
            </span>
         </label>

         <label class="form-review__label">
            <span class="form-review__text-label">Phone number</span>
            <span class="form-review__input-wrapper">
               <input class="form-review__input" name="user-phone" type="tel" autocomplete="off" required />
               <svg class="form-review__icon" width="17" height="17">
                  <use href="img/icons.svg#icon-phone"></use>
               </svg>
            </span>
         </label>

         <label class="form-review__textarea-label">
            <span class="form-review__text-label">Comment</span>
            <textarea class="form-review__textarea" name="user-review" placeholder="Enter text" required></textarea>
         </label>

         <label class="form-review__checkbox-label">
            <input class="form-review__checkbox visually-hidden" type="checkbox">
            <span class="form-review__custom-checkbox">
               <svg class="form-review__icon-check" width="10" height="10">
                  <use href="img/icons.svg#icon-check"></use>
               </svg>
            </span>
            <span class="form-review__text-label-privacy">I accept the terms and conditions of the <a
                  class="privacy-policy" href="#">Privacy policy</a></span>
         </label>

         <button class="form-review__btn button" type="submit">Send</button>
      </form>
   </div>
</div>