<section class="reviews">
   <div class="reviews__container">
      <h2 class="reviews__title section-title"><span class="section-title_orange">Chocolate</span> is loved</h2>
      <ul class="reviews__list list-reviews">
         <li class="list-reviews__card">
            <div class="list-reviews__body">
               <div class="list-reviews__photo">
                  <img src="../img/reviews/01.png" alt="Authors photo">
               </div>
               <p class="list-reviews__name">Victoria Dobrzhanska</p>
               <p class="list-reviews__review">I love this chocolate bar. Perfect combination of light crispy wafer,
                  covered in a thin layer chocolate. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque
                  cumque ab, ipsum suscipit, pariatur minima facilis commodi ipsa facere voluptatum aspernatur dicta.
                  Illum accusantium possimus nemo ipsum nisi ab temporibus?</p>
            </div>
         </li>
         <li class="list-reviews__card">
            <div class="list-reviews__body">
               <div class="list-reviews__photo">
                  <img src="../img/reviews/02.png" alt="Author photo">
               </div>
               <p class="list-reviews__name">Nazar Babenko</p>
               <p class="list-reviews__review">This chocolate confection is a delight! A delight! The wafer is light and
                  crisp, the haze</p>
            </div>
         </li>
         <li class="list-reviews__card">
            <div class="list-reviews__body">
               <div class="list-reviews__photo">
                  <img src="../img/reviews/03.png" alt="Author photo">
               </div>
               <p class="list-reviews__name">Nazar Babenko</p>
               <p class="list-reviews__review">This chocolate confection is a delight! A delight! The wafer is light and
                  crisp, th Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dicta ipsam sit
                  consequatur sed exercitationem! Soluta ratione saepe ea laboriosam voluptatibus modi dolor praesentium
                  quibusdam impedit. Neque dolorem reiciendis dolores.</p>
            </div>
         </li>
      </ul>
      <button class="reviews__button button-review button" type="button">Leave a review</button>
   </div>
</section>