<section class="reviews">
   <div class="reviews__container">
      <h2 class="reviews__title section-title"><span class="section-title_orange">Chocolate</span> is loved</h2>
      <ul class="reviews__list list-reviews">
         <li class="list-reviews__card">
            <div class="list-reviews__photo">
               <img src="../img/reviews/01.png" alt="Authors photo" width="80" height="80">
            </div>
            <div class="list-reviews__content">
               <p class="list-reviews__name">Victoria Dobrzhanska</p>
               <p class="list-reviews__review">I love this chocolate bar. Perfect combination of light crispy wafer,
                  covered in a thin layer chocolate.</p>
            </div>
         </li>
         <li class="list-reviews__card">

            <div class="list-reviews__photo">
               <img src="../img/reviews/02.png" alt="Author photo" width="80" height="80">
            </div>
            <div class="list-reviews__content">
               <p class="list-reviews__name">Nazar Babenko</p>
               <p class="list-reviews__review">This chocolate confection is a delight! A delight! The wafer is light and
                  crisp, the hazelnut cream is smooth, and the
                  chocolate is good.</p>
            </div>
         </li>
         <li class="list-reviews__card">
            <div class="list-reviews__photo">
               <img src="../img/reviews/chocolate.svg" alt="Author photo" width="80" height="80">
            </div>
            <div class="list-reviews__content">
               <p class="list-reviews__name">Olena Kampusch</p>
               <p class="list-reviews__review">Chocolate is a family favourite treat. Love the delicious smooth
                  chocolate and the creaminess inside. The wafer is soft
                  but crunchy.</p>
            </div>
         </li>
      </ul>
      <button class="reviews__button button-review button" type="button">Leave a review</button>
   </div>
</section>