html {
   scroll-behavior: smooth;
}

body {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   line-height: 1.29;
   letter-spacing: -0.02em;
   color: #111111;
   background-color: #fafafa;
}

a:focus,
button:focus {
   outline: 1px solid #fd9222;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


/* Container ---------------------- */
[class*="__container"] {
   max-width: 767px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
}

@media only screen and (min-width: 768px) {
   [class*="__container"] {
      max-width: 1136px;
      padding-left: 32px;
      padding-right: 32px;
   }
}

@media only screen and (min-width: 1200px) {
   [class*="__container"] {
      max-width: 1200px;
   }
}

/* ---------------------- /Container */


/* Section-title -------------------- */
.section-title {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: -0.03em;
   text-transform: uppercase;
   text-align: center;
   color: #111111;
}

.section-title_orange {
   color: #fd9222;
}

@media only screen and (min-width: 768px) {

   .section-title {
      font-size: 24px;
      line-height: 1.17;
   }
}

/* ------------------- Section-title */



/* Button ---------------------------*/
.button {
   font-weight: 600;
   line-height: 1.21;
   background: #fd9222;
   border: 1px solid #fd9222;
   border-radius: 100px;
   color: #ffffff;
   text-align: center;

   min-width: 120px;
   padding: 12px 28px;
   transition: color 150ms linear, background-color 150ms linear;
}

.button:hover,
.button:focus {
   color: #fd9222;
   background-color: #fcf1E0;
}

@media only screen and (min-width: 768px) {
   .button {
      padding: 14px 40px;
   }
}

/* ------------------------ /Button */



/* ------------------------- Social */
.social {
   display: flex;
   column-gap: 18px;
}

.social__link {
   display: flex;
   justify-content: center;
   align-items: center;
   stroke: #ffffff;
   fill: none;
}

.social__link:hover,
.social__link:focus {
   stroke: #fd9222;
}

/* ----------------------- /Social */




/* Menu -------------------------- */
.link-menu {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: -0.02em;
   color: #ffffff;
   transition: color 150ms linear;
}

.link-menu:hover,
.link-menu:focus,
.link-menu.current {
   color: #fd9222;
}

/* ------------------------- /Menu */



/* Section-padding --------------- */
.reviews,
.ingredients {
   padding-top: 30px;
   padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {

   .reviews,
   .ingredients {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}

@media only screen and (min-width: 1200px) {

   .reviews,
   .ingredients {
      padding-top: 50px;
      padding-bottom: 50px;
   }
}

/* ---------------- /Section-padding */