/* Mobile  ==============================*/
.page-header {
   padding-top: 20px;
   padding-bottom: 14px;
   background-color: #fafafa;
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;
   z-index: 500;
}

.page-header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   display: inline-flex;
   align-items: center;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.29;
   letter-spacing: -0.03em;
   color: #111111;

   transition: transform 100ms linear;
}

.logo:hover,
.logo:focus {
   transform: scale(1.1);
}

.logo__text-italic {
   font-style: italic;
}

.logo__icon {
   margin-left: 5px;
   stroke: #fd9222;
   fill: #fcf1e0;
}


.btn-burger {
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-burger__icon {
   stroke: #111111;
   transition: transform 100ms linear;
}

.btn-burger__icon:hover,
.btn-burger__icon:focus {
   transform: scale(1.1);
}

/* =========================== /Mobile */



/*  Mobile ONLY =======================*/
@media only screen and (max-width: 767px) {
   .page-header__container {
      column-gap: 20px;
   }

   .page-header__menu,
   .page-header__social {
      display: none;
   }

   /* ---- Mobile-menu ---- */
   .mobile-menu {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;

      min-width: 220px;
      height: 100%;
      padding-top: 136px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      background-color: #1e1823;
      overflow: auto;

      display: flex;
      flex-direction: column;
      row-gap: 40px;

      transform: translateX(100%);
      visibility: hidden;
      transition: transform 100ms linear, visibility 100ms linear;
   }

   .mobile-menu.active {
      transform: translateX(0);
      visibility: visible;
   }

   .mobile-menu__nav {
      max-width: 124px;
      align-self: center;
      flex-grow: 1;
   }

   .mobile-menu__item:not(:last-child) {
      margin-bottom: 24px;
   }

   .mobile-menu__link.current {
      color: #fd9222;
   }

   .mobile-menu__social {
      align-self: flex-start;
   }

   .btn-close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1000;

      stroke: #ffffff;
      fill: none;
   }

   /* ---- Mobile-menu ---- */
}

/* ========================== /Mobile only */



/* Tablet ================================ */
@media only screen and (min-width: 768px) {
   .btn-burger {
      display: none;
   }

   .mobile-menu {
      display: none;
   }

   .page-header__container {
      column-gap: 48px;
   }

   .page-header__logo {
      flex-grow: 0;
   }

   .logo__icon {
      width: 24px;
      height: 24px;
   }

   .page-header__menu {
      display: block;
      flex-grow: 1;
   }

   .menu__list {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 24px;
   }

   .menu__link {
      color: #111111;
   }


   .social__link {
      stroke: #111111;
      transition: stroke 150ms linear;
   }

   .social__link:hover,
   .social__link:focus {
      stroke: #fd9222;
   }
}

/* =========================== /Tablet */



/*  Desktop ========================= */
@media only screen and (min-width: 1200px) {
   .page-header__container {
      column-gap: 90px;
   }

   .logo {
      font-size: 18px;
      line-height: 1.11;
   }
}

/* ========================== /Desktop */