.hero-section {
   height: 100vh;
}

.hero-section__container {
   height: 100%;
   padding-top: 62px;
   padding-bottom: 30px;
}

.hero {
   height: 100%;
   max-width: 727px;
   padding: 20px;
   border-radius: 30px;
   background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../img/hero/mobile/bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: auto;

   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   row-gap: 32px;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
   .hero {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../img/hero/mobile/bg@2x.jpg);
   }
}

.hero__links {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 14px;
   row-gap: 32px;
}


.slogan {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.21;
   letter-spacing: -0.03em;
   color: #ffffff;
}

.inner-link {
   font-weight: 600;
   line-height: 1.21;
   color: #ffffff;

   display: inline-block;
   padding: 12px 28px;
   background-color: transparent;
   border: 1px solid #ffffff;
   border-radius: 100px;
   transition: border-color 150ms linear, color 150ms linear;
}

.inner-link:hover,
.inner-link:focus {
   border-color: #fd9222;
   color: #fd9222
}

.scroll-down {
   display: inline-flex;
   align-items: center;
   column-gap: 12px;
}

.scroll-down__label {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: -0.03em;
   color: #ffffff;
   transition: color 150ms linear;
}

.scroll-down__thumb {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 28px;
   height: 28px;
   border-radius: 50%;
   background-color: #ffffff;
   transition: background-color 150ms linear;
}

.scroll-down__icon {
   fill: #fd9222;
   transition: fill 150ms linear;
}

.scroll-down:hover .scroll-down__icon,
.scroll-down:focus .scroll-down__icon {
   fill: #ffffff;
}

.scroll-down:hover .scroll-down__thumb,
.scroll-down:focus .scroll-down__thumb {
   background-color: #fd9222;
}

.scroll-down:hover .scroll-down__label,
.scroll-down:focus .scroll-down__label {
   color: #fd9222;
}

/* --------------------------------- /Mobile */



/* Tablet ---------------------------------- */
@media only screen and (min-width: 768px) {
   .hero-section__container {
      padding-top: 80px;
      padding-bottom: 20px;
   }

   .hero {
      max-width: 1136px;
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../img/hero/tablet/bg.jpg);
   }

   .hero__scroll {
      margin-left: auto;
   }

   .hero__slogan {
      max-width: 484px;
   }

   .slogan {
      font-size: 28px;
   }

   .inner-link {
      padding: 14px 40px;
   }

   .scroll-down__label {
      font-size: 14px;
      line-height: 1.29;
   }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
   .hero {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../img/hero/tablet/bg@2x.jpg);
   }
}

/* --------------------------------- /Tablet */



/* Desktop ---------------------------------- */
@media only screen and (min-width: 1200px) {
   .hero-section__container {
      padding-bottom: 36px;
   }

   .hero {
      max-width: 1336px;
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../img/hero/desktop/bg.jpg);
   }

}

@media only screen and (min-resolution: 192dpi) and (min-width: 1200px) {
   .hero {
      background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../img/hero/desktop/bg@2x.jpg);
   }
}

/* ---------------------------------- /Desktop*/